
//    Font Family
$sans-serif: 'sans-serif', 'Helvetica', 'Arial';
$primary-font: 'MONTSERRAT-MEDIUM', 'Helvetica', 'open-sans';



/*--------------------------- Color variations ----------------------*/

$primary-color	: #464444;;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;



